<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <h1 class="text-center">You're signed in</h1>
      <% else %>
      <h1 class="text-center">Log it on Wodit</h1>
    <% end %>
  </div>
</div>


