<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Sign in</h2>
      </div>
      <div class="panel-body">
        <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <div class="field">
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>


        <% end %>
    </div>
  </div>
</div>


